.contents
  .side-contents
    .side-contents__top
      .side-contents__top__name
      %p ユーザーネーム
      %p
        %a{href: ''}
          %i.fa.fa-pencil-square-o
      %p
        %a{href: ''}
          %i.fa.fa-cog
    .side-contents__bottom
      .side-contents__bottom__group グループネーム
      .side-contents__bottom__comment 最新のコメント
      .side-contents__bottom__group グループネーム
      .side-contents__bottom__comment 最新のコメント
      .side-contents__bottom__group グループネーム
      .side-contents__bottom__comment 最新のコメント

  .front-contents
    .front-contents__top
      .front-contents__top__left
        .front-contents__top__left__group
          %p グループネーム
        .front-contents__top__left__name
          %p Member: ユーザーネーム
      .front-contents__top__right  Edit
    .front-contents__center
      .front-contents__center__name
      %p
        ユーザーネーム  2017/10/7 12:55:34
      .front-cntents__center__message
      %p メッセージはありません
      .front-contents__center__name
      %p
        ユーザーネーム  2017/10/7 12:55:34
      .front-cntents__center__message
      %p メッセージはありません
    .front-contents__footer
      .front-contents__footer__form
        %input.text{placeholder: 'type a message', type: 'text'}/
        %i.fa.fa-picture-o{'aria-hidden': 'true'}
      .front-contents__footer__send Send
