.contents
  .side-contents
    .side-contents__top
      .side-contents__top__name
        = current_user.name
      %p
        %a{href: ''}
          %i.fa.fa-pencil-square-o
      %p
        %a{href: '/users/1/edit/'}
          %i.fa.fa-cog
    .side-contents__bottom
      = render partial: "groups/group", locals: { groups: @groups }
