.front-contents {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;

  &__top {
  height: 100px;
  padding: 0 40px;

    &__left {
      font-size: 20px;
      padding: 35px 0 0 0;
      float: left;

      &__group  {
        font-size: 20px;
      }

      &__name {
        font-size: 12px;
        color: #c0c0c0;
      }
    }

    &__right {
     float: right;
     margin: 28px 20px 0;
     padding: 12.5px 20px;
     border: 1px solid;
     font-size: 15px;
     border-color: #38AEF0;
     color: #38AEF0;
     float: right;
      a{
        color: #38AEF0;
       text-decoration: none;
      }
    }
  }

&__content {

}
  &__center {
    background-color: $front-senter-color;
    height: calc(100vh - (125px + 100px));
    padding: 35px 0 0 40px;
    display: block;
    overflow-y: scroll;

    &__user {
      padding-bottom: 40px;

      &__name-time {
        width: 400px;

        &__name {
          font-size: 16px;
          padding-right: 10px;
          float: left;
        }

        &__time {
          padding-top:2px;
          padding-right: 10px;
          font-size: 12px;
          color: #c0c0c0;
        }
      }

      &__message {
        padding-top: 10px;
        width: 100%;
      }



    }

  }

  &__footer {
    background-color: #D3D3D3;
    height: 50px;
    width: calc(100vw - 380px);
    padding: 20px 40px;

    &__form {
      height: 50px;
      width: calc(100vw - 380px);

      &__comment {
        height: 50px;
        width: calc(100% - 95px);
        float: left;

        input {
          width: 100%;
          height: 100%;
          float: left;
        }

      }

      &__send {
        color: white;
        margin-left: 15px;
        background-color: $bluecolor;
        font-size: 20px;
        width: 60px;
        height: 54px;
        float: left;
      }
    }
  }
  label{
    position: relative;
    top: 13px;
    right: 100px;
  }
  .fa.fa-picture-o {
    color: black;
  }
  .icon {
    opacity: 0;
    display: none;
    }
}


